WebContent/wsdl/ServiciiBibtex.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://p1" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://p1" xmlns:intf="http://p1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://p1" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="add">
    <complexType>
     <sequence>
      <element name="entryXML" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addResponse">
    <complexType>
     <sequence>
      <element name="addReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="remove">
    <complexType>
     <sequence>
      <element name="bibtexEntryId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeResponse">
    <complexType>
     <sequence>
      <element name="removeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="search">
    <complexType>
     <sequence>
      <element name="searchBy" type="xsd:string"/>
      <element name="value" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchResponse">
    <complexType>
     <sequence>
      <element name="searchReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addRequest">

      <wsdl:part element="impl:add" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="removeRequest">

      <wsdl:part element="impl:remove" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="addResponse">

      <wsdl:part element="impl:addResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="searchResponse">

      <wsdl:part element="impl:searchResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="searchRequest">

      <wsdl:part element="impl:search" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="removeResponse">

      <wsdl:part element="impl:removeResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="ServiciiBibtex">

      <wsdl:operation name="add">

         <wsdl:input message="impl:addRequest" name="addRequest"/>

         <wsdl:output message="impl:addResponse" name="addResponse"/>

      </wsdl:operation>

      <wsdl:operation name="remove">

         <wsdl:input message="impl:removeRequest" name="removeRequest"/>

         <wsdl:output message="impl:removeResponse" name="removeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="search">

         <wsdl:input message="impl:searchRequest" name="searchRequest"/>

         <wsdl:output message="impl:searchResponse" name="searchResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServiciiBibtexSoapBinding" type="impl:ServiciiBibtex">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="remove">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="search">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServiciiBibtexService">

      <wsdl:port binding="impl:ServiciiBibtexSoapBinding" name="ServiciiBibtex">

         <wsdlsoap:address location="http://localhost:8080/m2s1xml/services/ServiciiBibtex"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
